<div [@pageTransition] class="min-h-screen bg-slate-50 flex justify-center items-center pt-8">
    <div *ngIf="!isShowSuccess" class="card p-5  xl:w-1/4 grid grid-cols-1 md:grid-cols-1">
        <div class="relative flex flex-col p-1 md:p-8">

            <h2 class="text-xl font-bold mb-2">
                Reset Password
            </h2>

            <p class="text-sm text-gray-500">Please set your new password</p>
            <div *ngIf="authMessage" class="verification-message text-xs mt-2"
                [ngClass]="{'text-red-500': !isAuthValid}">
                {{ authMessage }}
            </div>

            <div *ngIf="recaptchaMessage" class="verification-message text-xs"
                [ngClass]="{'text-red-500': !isRecaptchaValid}">
                {{ recaptchaMessage }}
            </div>
            
            <form #form="ngForm" class="my-5" [formGroup]="resetPasswordForm" (ngSubmit)="sendData(form)">
                <div class="form-group">
                    <label for="password">New Password</label>
                    <div class="relative">
                        <input type="password" id="password" class="form-control w-full ps-10 border border-gray-400"
                            formControlName="password" placeholder="Enter your new password">
                        <span class="absolute top-2 left-0 ps-3 text-gray-400">
                            <i class="bi bi-shield-lock"></i>
                        </span>
                    </div>
                    <validation-error [fieldControl]="resetPasswordForm.controls['password']"></validation-error>
                    <div *ngIf="passwordMessage1" class="verification-message text-xs mt-2"
                        [ngClass]="{'text-red-500': !isPasswordValid1}">
                        {{ passwordMessage1 }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <div class="relative">
                        <input type="password" id="confirmPassword"
                            class="form-control w-full ps-10 border border-gray-400" formControlName="confirmPassword"
                            placeholder="Confirm your new password">
                        <span class="absolute top-2 left-0 ps-3 text-gray-400">
                            <i class="bi bi-shield-check"></i>
                        </span>
                    </div>
                    <validation-error [fieldControl]="resetPasswordForm.controls['password']"></validation-error>
                    <div *ngIf="passwordMessage2" class="verification-message text-xs mt-2"
                        [ngClass]="{'text-red-500': !isPasswordValid2}">
                        {{ passwordMessage2 }}
                    </div>
                </div>
                <button type="submit" class="btn w-full btn-theme" [disabled]="isLoading">
                    <btn-spinner *ngIf="isLoading" [show]="isLoading"></btn-spinner>
                    <span class="btn-text" [ngClass]="{'translate-x-0.5': isLoading}">
                        Reset Password
                    </span>
                </button>
            </form>
        </div>
    </div>
    
    <div *ngIf="isShowSuccess" class="text-center card p-5  xl:w-1/4 grid grid-cols-1 md:grid-cols-1">
        <h2 class="text-xl font-bold mb-2">Password Reset Successful</h2>
        <p class="text-sm text-gray-500">Your password has been successfully reset.</p>
    </div>
</div>